.cardImage {
  width: 350px;
  height: 200px;
  border-radius: 2%;
}

#avatarBackground {
  background-image: url("https://img.freepik.com/free-vector/minimal-diagonal-zigzag-pattern-design_1017-15351.jpg?w=826&t=st=1668998920~exp=1668999520~hmac=5bd202c8f01aa1ade497455bbd30f9acf3f0e69d595584106a00fcc8d956d9ad");
}

#headerBg {
  background-color: white;
}

li {
  text-decoration: none;
  list-style: none;
}

#resumeBtn {
  border: 1px solid white;
  padding: 10px 45px;
  background-color: #805ad5;
  color: white;
}

#resumeBtn :hover {
  color: orange;
  font-weight: bold;
}

.cardGroup {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1160px) {
  .cardGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  #nameHeader {
    font-size: 4rem;
  }
}

@media screen and (max-width: 670) {
  #nameHeader {
    font-size: 3rem;
  }
}

@media screen and (max-width: 575px) {
  #nameHeader {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900) {
  #nameHeader {
    font-size: 10px;
  }
}
